<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Dashboard</title>
</head>
<body>
    <h2>Welcome to the Manager Dashboard!</h2>

    <a href="{{ url_for('register_user') }}">
        <button>Add User</button>
    </a>

    <a href="{{ url_for('add_tool') }}">
        <button>Add Tool</button>
    </a>

    <h3>Users List</h3>
    <table border="1">
        <tr>
            <th>Username</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.user }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Tools List</h3>
    <table border="1">
        <tr>
            <th>Tool Name</th>
            <th>ID</th>
            <th>Description</th>
        </tr>
        {% for tool in tools %}
        <tr>
            <td>{{ tool.name }}</td>
            <td>{{ tool.id }}</td>
            <td>{{ tool.description }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
